body{
    background: url(../imagenes/f.jpg) no-repeat center center fixed;
    background-size: cover;
}
body {
    background-color: #f5f5f5;
    padding-top: 25px;

  }
  [data-tema='oscuro'] {
    --bg-color: #3f3f3f;
    --txt-color: #e9e5e5;
  }
  
  .modal-content{

    margin-left: 0% !important;
    color: var(--txt-color) !important;
        font-family: serif;
      }
      
#navbarNavDropdown{
    width: 50% !important;
    justify-content: center !important;
    background: var(--bg-color) !important;
    color: var(--txt-color) !important;
    font-family: serif;
  }
  #navbarNavDropdownn{
    width: 25% !important;
    justify-content: flex-start !important;
    font-family: serif;
  }
  
  .nav-link
  {  color: var(--txt-color) !important;
  font-size: larger;
  font-family: serif;}
  #navbarNavGaleria{
    width: 100% !important;
    justify-content: center !important;
    background: var(--bg-color) !important;
    color: var(--txt-color) !important;
    font-family: serif;
  }
  

.main-section{
    margin:0 auto;
    margin-top:25%;
    padding: 0;
}

.modal-content{
    background-color: #3b4652;
    opacity: .85;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #848484;
}
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    width: 100xp;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}

.form-group input{
    height: 42px;
    font-size: 18px;
    border:0;
    padding-left: 54px;
    border-radius: 5px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    background: var(--bg-color) !important;
    color: var(--txt-color) !important;
  }
  .navbar{
    background: var(--bg-color) ;
    color: var(--txt-color);
    padding:0% !important;
  }
  .totalCarrito{  background: var(--bg-color) !important;
    color: var(--txt-color) !important;}
  
    
    .modal-body{
    padding-right: 0% !important;
    padding-left: 0% !important;
      background: var(--bg-color) !important;
      color: var(--txt-color) !important;
    }
    .modal-header{
      background: var(--bg-color) !important;
      color: var(--txt-color) !important;
    }
    .modal-footer{  background: var(--bg-color) !important;
      color: var(--txt-color) !important;}


.form-group::before{
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 28px;
    font-size: 22px;
    padding-top:4px;
}

.form-group#user-group::before{
    content: "\f007";
}

.form-group#contrasena-group::before{
    content: "\f023";
}

button{
    width: 60%;
    margin: 5px 0 25px;
}

.forgot{
    padding: 5px 0;
}

.forgot a{
    color: white;
}

@media only screen and (max-width: 900px) {
    .modal-content{width: 10% !important;
    background-color: white !important }
}
